.analyzer-page{

min-height:90vh;

padding:70px 8%;

background:

linear-gradient(
120deg,
#eff6ff,
#f8fafc
);

text-align:center;

}



.analyzer-header{

margin-bottom:50px;

}



.analyzer-header h1{

font-size:45px;

color:#0f172a;

margin-bottom:15px;

}



.analyzer-header p{

font-size:18px;

color:#64748b;

max-width:700px;

margin:auto;

line-height:1.7;

}





.analyzer-features{

display:flex;

justify-content:center;

gap:25px;

margin-top:60px;

flex-wrap:wrap;

}




.analyzer-features div{

background:white;

width:250px;

padding:25px;

border-radius:20px;

box-shadow:

0 10px 25px rgba(0,0,0,0.08);

}



.analyzer-features h3{

color:#2563eb;

margin-bottom:10px;

}



.analyzer-features p{

color:#64748b;

}





@media(max-width:700px){


.analyzer-page{

padding:50px 5%;

}



.analyzer-header h1{

font-size:32px;

}



.analyzer-features{

flex-direction:column;

align-items:center;

}



.analyzer-features div{

width:90%;

}


}