.footer{
    background:#111827;
    color:white;
    padding:70px 8% 25px;
}

.footer-container{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    gap:40px;
}

.footer-brand h2{
    font-size:32px;
    color:#F59E0B;
    margin-bottom:15px;
}

.footer-brand span{
    color:#FFFFFF;
}

.footer-brand p{
    color:#D1D5DB;
    line-height:1.7;
}

.social-links{
    display:flex;
    gap:15px;
    margin-top:25px;
}

.social-links a{
    color:#F59E0B;
    font-size:14px;
    transition:0.3s ease;
}

.social-links a:hover{
    color:#FBBF24;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.footer-column h3{
    color:#F59E0B;
    margin-bottom:10px;
}

.footer-column a{
    color:#D1D5DB;
    transition:0.3s ease;
}

.footer-column a:hover{
    color:#FBBF24;
}

.footer-column p{
    color:#D1D5DB;
}

.footer-bottom{
    border-top:1px solid #374151;
    margin-top:50px;
    padding-top:20px;
    text-align:center;
    color:#9CA3AF;
}

@media(max-width:900px){

    .footer-container{
        grid-template-columns:1fr 1fr;
    }

}

@media(max-width:600px){

    .footer{
        text-align:center;
    }

    .footer-container{
        grid-template-columns:1fr;
    }

    .social-links{
        justify-content:center;
    }

    .footer-column{
        align-items:center;
    }

}