.login-page{
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        120deg,
        #F9FAFB,
        #E5E7EB
    );
    padding:40px;
}

.login-box{
    width:420px;
    background:#FFFFFF;
    padding:45px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 15px 40px rgba(0,0,0,0.15);
    border-top:5px solid #F59E0B;
}

.login-logo{
    font-size:30px;
    font-weight:700;
    color:#F59E0B;
    margin-bottom:25px;
}

.login-logo span{
    color:#111827;
}

.login-box h1{
    font-size:32px;
    color:#111827;
    margin-bottom:10px;
}

.login-box p{
    color:#6B7280;
    margin-bottom:30px;
}

.login-box input{
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:1px solid #D1D5DB;
    border-radius:12px;
    font-size:15px;
    outline:none;
    transition:0.3s ease;
}

.login-box input:focus{
    border-color:#F59E0B;
    box-shadow:0 0 10px rgba(245,158,11,0.25);
}

.login-box button{
    width:100%;
    padding:15px;
    background:#F59E0B;
    color:#111827;
    border:none;
    border-radius:30px;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s ease;
}

.login-box button:hover{
    background:#FBBF24;
    transform:translateY(-2px);
    box-shadow:0 10px 20px rgba(245,158,11,0.35);
}

.forgot{
    margin:20px 0;
    color:#F59E0B;
    font-size:14px;
    cursor:pointer;
    transition:0.3s ease;
}

.forgot:hover{
    color:#D97706;
}

.account{
    font-size:15px;
    color:#6B7280;
}

.account a{
    color:#F59E0B;
    font-weight:bold;
    text-decoration:none;
}

.account a:hover{
    color:#D97706;
}

@media(max-width:500px){

    .login-page{
        padding:20px;
    }

    .login-box{
        width:100%;
        padding:30px;
    }

    .login-box h1{
        font-size:26px;
    }

}