.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:white;

box-shadow:
0 5px 20px rgba(0,0,0,0.08);

position:sticky;

top:0;

z-index:1000;

}



.logo{

font-size:28px;

font-weight:700;

color:#2563eb;

}



.logo span{

color:#06b6d4;

}



.nav-links{

display:flex;

align-items:center;

gap:30px;

}



.nav-links a{

font-size:16px;

font-weight:500;

color:#1e293b;

transition:0.3s;

}



.nav-links a:hover{

color:#2563eb;

}



.signup-btn{

background:#2563eb;

color:white !important;

padding:12px 28px;

border-radius:30px;

}



.signup-btn:hover{

background:#1d4ed8;

}



/* Mobile Responsive */


@media(max-width:768px){


.navbar{

flex-direction:column;

gap:20px;

padding:20px 5%;

}



.nav-links{

flex-wrap:wrap;

justify-content:center;

gap:15px;

}



.logo{

font-size:24px;

}


}