.skill-card{

background:white;

padding:25px;

border-radius:20px;

width:280px;

box-shadow:

0 10px 30px rgba(0,0,0,0.08);

transition:0.3s;

}



.skill-card:hover{

transform:translateY(-5px);

}



.skill-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}



.skill-header h3{

font-size:22px;

color:#1e293b;

}



.skill-header span{

color:#2563eb;

font-size:18px;

font-weight:bold;

}



.progress-container{

height:12px;

background:#e2e8f0;

border-radius:20px;

overflow:hidden;

}



.progress-bar{

height:100%;

background:

linear-gradient(
90deg,
#2563eb,
#06b6d4
);

border-radius:20px;

transition:0.5s;

}



.skill-card p{

margin-top:15px;

color:#64748b;

font-size:14px;

}





@media(max-width:700px){


.skill-card{

width:90%;

}


}