.skill-card{
    background:#FFFFFF;
    padding:25px;
    border-radius:20px;
    width:280px;
    box-shadow:0 10px 30px rgba(0,0,0,0.12);
    border-top:4px solid #F59E0B;
    transition:all 0.3s ease;
}

.skill-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,0.18);
}

.skill-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.skill-header h3{
    font-size:22px;
    color:#111827;
}

.skill-header span{
    color:#F59E0B;
    font-size:18px;
    font-weight:bold;
}

.progress-container{
    height:12px;
    background:#E5E7EB;
    border-radius:20px;
    overflow:hidden;
}

.progress-bar{
    height:100%;
    background:linear-gradient(
        90deg,
        #F59E0B,
        #FBBF24
    );
    border-radius:20px;
    transition:0.5s;
}

.skill-card p{
    margin-top:15px;
    color:#6B7280;
    font-size:14px;
    line-height:1.6;
}

@media(max-width:700px){

    .skill-card{
        width:90%;
    }

}