.app{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    background:#F9FAFB;
}

main{
    flex:1;
}

.section-title{
    text-align:center;
    font-size:40px;
    font-weight:700;
    color:#111827;
    margin-bottom:20px;
}

.primary-btn{
    background:#F59E0B;
    color:#111827;
    padding:14px 30px;
    border-radius:30px;
    border:none;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s ease;
}

.primary-btn:hover{
    background:#FBBF24;
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(245,158,11,0.35);
}